<html lang="cs" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="css/style_kosik.css" rel="stylesheet">
        <link href="css/style_produkt.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/menu_footer.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Barlow:400,600" rel="stylesheet">
        <link rel="icon" type="image/png" href="/favicon.png"/>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="js/common-functions.js" type="text/javascript" defer></script>
        <noscript>
            <style>
                @media only screen and (max-width: 720px)
                {
                    .menu_neviditelne
                    {
                        max-height: 500px;
                    }
                }
            </style>
        </noscript>
        <title th:text="${title}?:'CUKRÁRNA U RAKVIČKY'"></title>
    </head>


    <header>
        <div class="userPanelWrapper">
            <div class="userPanel">
                <a href="login" class="userPanelButton loginButton" id="buttonLogin">Přihlas se/ registrace</a>
                <a href="#" class="userPanelButton loginButton d-none"  id="buttonLogout">odhlásit se</a>
                <div class="cleaner"></div>
            </div>
        </div>
        <div class="img_header">
            <nav>
                <div class="prvni_menu">
                    <ul class="seznam_menu">
                        <li class="link"><a href="index">Úvod</a></li>
                        <li class="link"><a href="uc">Cukrárna</a></li>
                        <li class="link"><a href="index">Nabídka</a></li>
                        <li id="hlavni_obrazek">
                            <a href="index"><img id="hlavni_obraz" alt="úvodní obrázek" src="img/logo_bila.svg" width="120"></a>
                        </li>
                        <li class="link"><a href="uc">Kariéra</a></li>
                        <li class="link"><a href="uc">Pobočky</a></li>
                        <li class="shoppingCart">
                            <a href="cart">
                                <img src="img/icons/supermarket_White.svg" alt="Košík" width="40" height="40">
                                <span class="cartItems">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="burger">
                    <p> >>Zobrazit nabídku<< </p>
                    <ul class="menu_neviditelne">
                        <li><a href="index">Úvod</a></li>
                        <li><a href="uc">Cukrárna</a></li>
                        <li><a href="index">Nabídka</a></li>
                        <li><a href="uc">O kávě</a></li>
                        <li><a href="uc">Kariéra</a></li>
                        <li><a href="uc">Pobočky</a></li>
                    </ul>
                </div>
            </nav>
            <div class="nadpis">
                <h1>CUKRÁRNA</h1>
                <h1>U RAKVIČKY</h1>
            </div>
        </div>
    </header>

    <footer class="barva">
        <div class="page-footer font-small blue pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div style="padding-left:5rem;" class="col-md-6 mt-md-0 mt-3">
                        <h5 class="text-uppercase">Random joke:</h5>
                        <p>What is a ghost's favourite data type? >> Booooolean</p>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="#!">Link 1</a></li>
                            <li><a href="#!">Link 2</a></li>
                            <li><a href="#!">Link 3</a></li>
                            <li><a href="#!">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="#!">Link 1</a></li>
                            <li><a href="#!">Link 2</a></li>
                            <li><a href="#!">Link 3</a></li>
                            <li><a href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">
                <span>@2021 Studenstký semestrální projekt:</span>
                <a href="#">Gregovský, Smítal</a>
            </div>
        </div>
    </footer>
</html>