<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<div>
    <div class="registrace_form">
        <div class="registrationColor">
            <h2>PŘIHLAŠ SE:</h2>
            <form action="userLogin" method="POST">
                <input autocomplete="off" placeholder="Jméno" type="text" name="login" required>
                <input placeholder="Heslo" type="password" name="pass" required>
                <input type="submit" name="doLogin" value="Přihlásit">
                <div class="cleaner"></div>
            </form>
            <a href="registration">Nejsi Registrován? Zaregistruj se!</a>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script src="js/user-functions.js" defer></script>
<script src="js/user.js" defer></script>
</body>
</html>