<!doctype html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <div class="slevanov">
            <div class="container productList">
                <h2>Nabídka všech produktů</h2>
                <section class="row">
                    <!-- TO BE FILLED BY THE BROWSER -->
                </section>
            </div>  
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="/products?pageNo=0">0</a></li>
                <li class="page-item"><a class="page-link" href="/products?categories=Donut&tags=Sleva,Novinka">1</a></li>
                <li class="page-item"><a class="page-link" href="/products?categories=Donut&tags=Sleva,Novinka&pageNo=1">2</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <script src="js/products-functions.js" type="text/javascript" defer></script>
        <script src="js/products.js" type="text/javascript" defer></script>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>