<!doctype html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head"></head>
    <body>
        <header th:replace="fragments :: header"></header>
        <div class="slevanov">
            <div class="container productList">
                <h2>Nabídka všech produktů</h2>
                <section class="row">
                    <!-- TO BE FILLED BY THE BROWSER -->
                </section>
            </div>  
        </div>
        <script src="js/products-functions.js" type="text/javascript" defer></script>
        <script src="js/products.js" type="text/javascript" defer></script>
        <footer th:replace="fragments :: footer"></footer>
    </body>
</html>