<!doctype html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/header :: header"></header>

        <div class="container dodani">
            <div class="row">
                <div class="cudlik col-sm-4"><a href="cart"><b>KOŠÍK</b></a></div>
                <div class="cudlik col-sm-4"><a href="deliveryDetails">DODACÍ ÚDAJE</a></div>
                <div style="background-color:#eda4ae;" class="cudlik col-sm-4">SOUHRN OBJEDNÁVKY</div>
            </div>

            <div class="row"><div class="col-md-6">
                <h2>Košík</h2>
                <hr>
                <div th:each="cartItem, iterStat : ${orderSummary.cart}" th:remove="tag">
                    <img th:src="@{${'/img/product/' +productsToBeOrdered.get(iterStat.index).pictureUrl}}">
                    <h3 th:text="${productsToBeOrdered.get(iterStat.index).name}"></h3>
                    <div class="cena" th:text="'cena: ' + ${productsToBeOrdered.get(iterStat.index).price}+'Kč'"></div>
                    <div class="pocet" th:text="'počet kusů: '+${cartItem.ammount}" ></div>
                    <div class="cleaner"></div>
                    <hr>
                </div>
            </div>
                <div class="col-md-6">
                    <h2>Dodání a platba</h2>

                    <div >
                        <hr>
                        <img src="img/person.png">
                        <h3>Osobní odběr</h3>
                        <div class="cena">zdarma</div>
                        <div class="cleaner"></div>
                    </div>
                    <div >
                        <hr>
                        <img src="img/karta.png">
                        <h3>Hotově nebo kartou na projně</h3>
                        <div class="cena">zdarma</div>
                        <div class="cleaner"></div>
                        <hr>
                        <h2 style="color: red" th:text="'Celková cena: '+${totalPrice} +'Kč'">Celková cena</h2>
                    </div>
                </div>

                <div class="padesat">
                    <h2>Kontaktní údaje</h2>
                    <p th:text="${orderSummary.deliveryDetails.email}"></p>
                    <p><span th:text="${orderSummary.deliveryDetails.phonePrefix}"></span> <span th:text="${orderSummary.deliveryDetails.phoneNumber}"></span></p>
                    <p th:text="${orderSummary.deliveryDetails.name}"></p>
                    <p th:text="${orderSummary.deliveryDetails.surname}"></p>
                </div><div class="padesat">
                    <h2>Fakturační údaje</h2>
                    <p th:text="${orderSummary.deliveryDetails.street}"></p>
                    <p th:text="${orderSummary.deliveryDetails.city}"></p>
                    <p th:text="${orderSummary.deliveryDetails.zipCode}"></p>
                    <div th:switch="${orderSummary.deliveryDetails.state}">
                        <p th:case="'1'">Česká Republika</p>
                        <p th:case="'2'">Slovenská Republika</p>
                    </div>
                </div>
            </div>
            <form action="completeOrder" method="POST">
                <input class="pokracovatInp" type="submit" name="ShippingInfoSubmit" value="Pokračovat">
            </form>
            <div class="cleaner"></div>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
        <script src="js/order-functions.js" defer></script>
        <script src="js/order.js" defer></script>
    </body>
</html>