<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
    <body>
    <header th:replace="fragments/header :: header"></header>
        <article class="administraceArticle">
            <h2 style="color:red;">Prostor pro potenciální budoucí rozšíření webu mimo PPRO</h2>
            <img style="display: table;margin: auto;" src="img/construction.jpg" width="500" height="500">
            <br>
        </article>
    <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>